{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- slider_area_start -->
    <div class="slider_area">
      <div class="slider_active owl-carousel">
        {% for slider in sliders %}
        <div class="single_slider d-flex align-items-center" style="background-image: url('{{ slider.image.url }}');">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="slider_text">
                  <h3>
                    <span>{{ slider.title }}</span> <br />
                    {{ slider.subtitle }}
                  </h3>
                  <p>
                    {{ slider.description }}
                  </p>
                  <a href="#" class="boxed-btn3">{{ slider.buttontext }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- slider_area_end -->

    <!-- service_area_start -->
    <div class="service_area">
      <div class="container p-0">
        <div class="row no-gutters">
          {% for feature in features %}
          <div class="col-xl-4 col-md-4">
            <div class="single_service">
              <div class="icon">
                <i class="{{ feature.icon }}"></i>
              </div>
              <h3>{{ feature.title }}</h3>
              <p>
                {{ feature.description }}
              </p>
              <a href="#" class="boxed-btn3-white">{{ feature.buttontext }}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- service_area_end -->

    <div class="welcome_docmed_area">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_thumb">
              <div class="thumb_1">
                <img src="{{ about.image1.url }}" alt="" />
              </div>
              <div class="thumb_2">
                <img src="{{ about.image2.url }}" alt="" />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="welcome_docmed_info">
              <h2>{{ about.title }}</h2>
              <h3>
                {{ about.maintitle }}
              </h3>
              <p>
                {{ about.description }}
              </p>
              <ul>
                {% for quality in about.qualities.all %}
                <li><i class="flaticon-right"></i>{{quality }}</li>
                {% endfor %}
              </ul>
              <a href="{% url 'about' %}" class="boxed-btn3-white-2">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- welcome_docmed_area_end -->

    <!-- offers_area_start -->
    <div class="our_department_area">
      <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="section_title text-center mb-55">
                  <h3>{{ our_service.title }}</h3>
                  <p>{{ our_service.description }}</p>
              </div>
          </div>
        </div>
          <div class="row">
            {% for service in services %}
              <div class="col-xl-4 col-md-6 col-lg-4">
                  <div class="single_department">
                      <div class="department_thumb">
                          <img src="{{ service.image.url }}" alt="">
                      </div>
                      <div class="department_content">
                          <h3><a href="#">{{ service.title }}</a></h3>
                          <p>{{ service.description }}</p>
                          <a href="{% url 'service_details' service.id %}" class="learn_more">Learn More</a>
                      </div>
                  </div>
              </div>
            {% endfor %}          
          </div>
      </div>
  </div>
    <!-- offers_area_end -->

    <!-- testmonial_area_start -->
    {% include "testimonial_area.html" %}
    <!-- testmonial_area_end -->

    <!-- business_expert_area_start  -->
    {% include "business_expert_area.html" %}
    <!-- business_expert_area_end  -->

    <!-- expert_doctors_area_start -->
    {% include "recent_blogs.html" %}
    <!-- expert_doctors_area_end -->

    <!-- Emergency_contact start -->
    {% include "emergency_contact.html" %}
    <!-- Emergency_contact end -->

{% endblock %}    