<!-- expert_doctors_area_start -->
<div class="expert_doctors_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="doctors_title mb-55">
          <h3>Recent Blogs</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="expert_active owl-carousel">
          {% for blog in blogs %}
          <div class="single_expert">
            <div class="expert_thumb">
              <img
                src="{{ blog.image.url }}"
                alt=""
              />
            </div>
            <div class="experts_name text-center">
              <h3>{{ blog.title }}</h3>
              <a href="{% url 'blog_details' blog.id %}"><span style="cursor: pointer">Read Here</span></a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- expert_doctors_area_end -->